
/*h2{
    background-color: rgb(240, 178, 62);
    position: relative;
    left: 100px;
       /*bottom:50px;
}*/
/*
h3{
    background-color: pink;
    position: fixed;
    top:0px;
    left: 250px;
}

h4{
    background-color: brown;
    position: sticky;
    top: 10px;
}

p{
    background-color: chartreuse;
    position: absolute;
    left: 50px;
    top: 70px;
}
   /*bottom:50px;*/


/*.classA{
    background-color: pink;
}
h2{
    background-color: rgb(107, 107, 243);
}/*
*/

#conatainer{
   height: 200px;
   width: 300px;
   background-color: white;
   position: relative;
}
#circle{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position:absolute;
    left: 100px;
    top: 50px;
}
